<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Liste des PCs</title>
	<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
	<style>



	</style>
</head>

<body>
	<div th:replace="template"></div>
	<div class="container mt-5">
		<div class="card " style="width: 1300px;">
			<div class="card-header">
				Liste des PCs
			</div>
			<div class="card-body">
				<div class="">
					<table class="table table-striped">
						<tr>
							<th>ID</th>
							<th>Marque</th>
							<th>Modèle</th>
							<th>Processeur</th>
							<th>RAM (GB)</th>
							<th>Stockage (GB)</th>
							<th>Carte Graphique</th>
							<th>OS</th>
							<th>Prix</th>
							<th>Date d'achat</th>
							<th>Email</th>
						</tr>
						<tr th:each="p:${pcs}">
							<td th:text="${p.idPc}"></td>
							<td th:text="${p.marque != null ? p.marque.nomMarque : ''}"></td>
							<td th:text="${p.modele}"></td>
							<td th:text="${p.processeur}"></td>
							<td th:text="${p.memoireRAM}"></td>
							<td th:text="${p.capaciteStockage}"></td>
							<td th:text="${p.carteGraphique}"></td>
							<td th:text="${p.systemeExploitation}"></td>
							<td th:text="${p.prix}"></td>
							<td th:text="${#dates.format(p.dateAchat, 'dd-MM-yyyy')}"></td>
							<td th:text="${p.email}"></td>
							<td sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-success"
							th:href="@{modifierPc(id=${p.idPc},page=${currentPage},size=${size})}">Editer</a></td>
							<td sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-danger" onclick="return confirm('Etes-vous sûr ?')" th:href="@{supprimerPc(id=${p.idPc},
						page=${currentPage},size=${size})}">Supprimer</a></td>


						</tr>
						<tr th:each="p:${pcs.content}">
					</table>
					<ul class="nav nav-pills">
						<li th:each="page,status:${pages}">
							<a th:class="${status.index==currentPage?'btn btn-primary':'btn' }"
								th:href="@{ listePcs(page=${status.index}, size=${size} ) }"
								th:text="${status.index }"></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>

</html>